<!DOCTYPE html>
<html>
<head>
  <title>Movie</title>
</head>
<body>
  <h1><%=@movie.title%></h1>
  <table>
    <tr>
      <td><strong>Director: </strong></td>
      <td><%=@movie.director%></td>
    </tr>
    <tr>
      <td><strong>Year: </strong></td>
      <td><%=@movie.year%></td>
    </tr>
  </table>
</body>
</html>